* {
  background: black;
  color: white;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
